@font-face {
    font-family: 'KA1';
    src: url('https://thecoinhustlers.github.io/fonts/ka1.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    line-height: 1.6;
}

#wrapper {
    max-width: 100%;
}

header {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 20px;
    text-align: left; /* Align the content to the left */
    display: flex;
    align-items: center;
}

.header-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

h1 {
    font-family: 'KA1', Arial, sans-serif;
    color: #fff; /* White text for title */
    margin-bottom: 10px; /* Add some margin at the bottom of the title */
}

#title-and-icons {
    display: flex;
    flex-direction: column; /* Stack the title and icons vertically */
    align-items: flex-start; /* Align items to the start (left) */
}

#social-links {
    margin-top: 10px; /* Adjust the spacing between the title and icons */
}

#social-links a {
    display: inline-block; /* Display icons in a row */
    margin: 0 10px; /* Adjust spacing between icons */
}

#social-links img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    filter: invert(100%); /* Make the icons white */
}

#social-links img:hover {
    filter: invert(70%); /* Adjust the hover effect as needed */
}

#main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#blog-feed, #sidebar {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 15px;
}

footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

a {
    color: #ff0000; /* Red text for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-image {
        margin-bottom: 20px;
        margin-right: 0;
    }

    #title-and-icons {
        align-items: center;
    }

    #main-content {
        flex-direction: column;
    }

    #blog-feed, #sidebar {
        width: 100%;
    }

    #social-links a {
        margin: 0 5px; /* Reduce spacing for smaller screens */
    }
}
