@font-face {
    font-family: 'KA1';
    src: url('https://thecoinhustlers.github.io/fonts/ka1.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    line-height: 1.6;
}

#wrapper {
    max-width: 100%;
}

header {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.header-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

h1 {
    font-family: 'KA1', Arial, sans-serif;
    color: #fff; /* White text for title */
}

#main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#blog-feed, #sidebar {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 15px;
}

footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

a {
    color: #ff0000; /* Red text for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
